.face {
    margin: 0 1.5em;

    &__img {
        display: block;
        width: 70%;
        border-radius: 50%;
        margin: 0 auto;
    }

    &__name {
        text-align: center;
        margin-top: 1.5em;
        font-size: 20px;
    }

    &__role {
        text-align: center;
    }
}